---
layout: base
---
{% if page.cover_image %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=187092678165992&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="article-cover">
    <div class="blog-cover" style="background-image:url(/images/{{ page.cover_image }});">
      <section>
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
        {% if page.author.image %}<img src="/images/{{ page.author.image }}" style="width: 64px; height: 64px;">{% endif %}
      </section>
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <div class="meta">
                By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        <footer>
            <address>
               {% if page.author.image %}<img src="/images/{{ page.author.image }}">{% endif %}
                <p>Written by <strong><a rel="author" href="https://github.com/{{ page.author.github }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></strong><br>
                <span class="muted">{{ page.author.bio }}</span>
                </p>
            </address>

        </footer>

        <section>
          <div class="fb-comments" data-href="http://nexters.github.io/{{ page.title }}" data-width="530" data-numposts="5" data-colorscheme="light"></div>
        </section>
        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
